@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.body{
    background-color: #0879db;
}
.login-button{
    display: flex;
    justify-content:flex-end;

}
.main{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;

    background-color: #dbe3e1;
}
.titulos{
    display: flex;
    justify-content: space-around;
}

.body{
    background-color: #124471;
    font-family: Open Sans;
}
.header{
    height: 150px;
    padding-right: 250px;
    padding-bottom: 30px;
    width: 80%;
}

.bform{
    margin-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    
}
.main{
    display: inline-block;
    background-color: #dbe3e1;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}
.main1{
    padding-left: 23%;
    background-color: #dbe3e1;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    display: inline-block;
    
}
.campo_usuario{
    display: inline-block;
    align-items: center;
    justify-content: center;
    
    
}
.campo_queixa{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-left: 130px;
}
.submit{
    display: flex;
    justify-content: space-around;
    padding-right: 50%;
}
#Bform{
    float: right;
}

p, h1, h3, table{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.titulo{
    padding-left: 13%;
}
/*Henio */
table{
    border: solid 2px;
    font-size: 20px;

}
th{
    background-color: #0879db;
    width: 100%;
}
tr{
    display: inline-block;
    text-align: left;
    border: solid 2px;
    margin: 5px 0 5px 0;
}
td{
    display: inline-table;
    border: solid 1px;

}